{%- assign file_key = include.file | default: page.iconfile -%}
{%- assign rating_data = site.data.ratings[file_key].ratings | default: site.data.ratings[file_key] -%}

{%- assign orig = 0.0 -%}
{%- assign sum = 0 -%}

{%- for r in rating_data -%}
  {%- if r.person == include.name -%}
    {%- assign orig = r.rating | plus: 0.0 -%}
    {%- assign sum = orig | times: 2 | round -%}
  {%- endif -%}
{%- endfor -%}

{%- assign person_encoded = include.name | url_encode -%}
{%- assign file_encoded = file_key | url_encode -%}
{%- capture link_base -%}https://thebarspoon.com/cgi-bin/cocktail_rating.cgi?person={{ person_encoded }}&amp;file={{ file_encoded }}&amp;rating={%- endcapture -%}

<div class="rating-picker no-print">
  {%- for i in (1..10) -%}
    <a href="{{ link_base }}{{ i }}" title="Rate {{ i }} of 10" class="star-link {% if i <= sum %}filled{% else %}empty{% endif %}">★</a>
  {%- endfor -%}
</div>

<div class="rating-readout">
  <div class="star-rating star-rating--small" style="--rating: {{ orig }};" aria-label="Rating: {{ orig }} out of 5 stars">
    {% if orig > 0 %}{{ orig }} ★{% endif %}
  </div>
  <em style="font-size: 1.3rem; display: block; clear: both;">
    currently rated: {{ orig }}, or {{ sum }} on a 10 pt scale
  </em>
</div>