<head lang="en">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="John & Peter Mahnke">

  <!-- inline critical path styles -->
  {% include critical.css %}

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-7VTRNZ0ZMF"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-7VTRNZ0ZMF');
  </script>

  <title>{%- if page.title -%}{{ page.title | escape }} Cocktail Recipe - {% endif %}{{ site.title | escape }}</title>
  
  <!-- OPEN GRAPH (Facebook, LinkedIn, Slack, iMessage) -->
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{%- if page.title -%}{{ page.title | escape }} Cocktail Recipe - {% endif %}{{ site.title | escape }}" >
  <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
  <meta property="og:description" content="{%- if page.description-%}{{ page.description | strip_html | replace: '"', "'" | truncatewords: 150 }}{%- else -%}Find hundreds of classic and modern cocktail recipes for free at The Barspoon. Browse by spirit or era, featuring drinks from Anders Erickson and Leandro DiMonriva.{%- endif -%}">
  {% if page.slug and page.layout == "recipe" %}
  {% unless page.categories contains "syrup" %}
  <meta property="og:image" content="{{ site.url }}/assets/images/social/{{ page.slug }}_landscape.png" />
  {% endunless %}
  {% endif %}

  <!-- TWITTER -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="{%- if page.title -%}{{ page.title | escape }} Cocktail Recipe - {% endif %}{{ site.title | escape }}" >
  {% if page.slug and page.layout == "recipe" %}
  {% unless page.categories contains "syrup" %}
  <meta name="twitter:image" content="{{ site.url }}/assets/images/social/{{ page.slug }}_landscape.png" />
  {% endunless %}
  {% endif %}

  <!-- PINTEREST -->
  {% if page.layout == "recipe" %}
  {% unless page.categories contains "syrup" %}
  <meta name="pinterest-rich-pin" content="true" />
  {% endunless %}
  {% endif %}
  <meta name="p:domain_verify" content="19cee6548b3829caa29e15bcfaa9bbf9"/>
  
  <meta name="keywords" content="cocktail, cocktail recipe, {{ page.keywords | join: ', ' | escape }}, {{ page.base_spirits | join: ', ' | escape }}, {{ page.style | join: ', ' | escape }}">
  <meta name="description" content="{%- if page.description-%}{{ page.description | strip_html | replace: '"', "'" | truncatewords: 150 }}{%- else -%}Find hundreds of classic and modern cocktail recipes for free at The Barspoon. Browse by spirit or era, featuring drinks from Anders Erickson and Leandro DiMonriva.{%- endif -%}">

  {% if page.url -%}
  {%- assign canonical_url = site.url | append: site.baseurl | append: page.url -%}
  <link rel="canonical" href="{{ canonical_url | replace:'index.html','' | replace:'index.md','' }}">
  {%- endif %}

  <!-- Favicon -->
  <link rel="icon" type="image/png" href="{{ '/assets/images/favicon.png' | relative_url }}">
  <link rel="apple-touch-icon" href="{{ '/assets/images/favicon.png' | relative_url }}">


  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css" media="print" onload="this.media='all'; this.onload=null;">
  <noscript><link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}"></noscript>

</head>
