  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="John & Peter Mahnke">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2XJC3WX9P5"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-2XJC3WX9P5');
    </script>

    <title>{{ site.title | escape }}{%- if page.title -%}- {{ page.title | escape }}{%- endif -%}</title>
    <meta name="twitter:title" content="{{ site.title | escape }}{%- if page.title -%}- {{ page.title | escape }}{%- endif -%}" >
    <meta property="og:title" content="{{ site.title | escape }}{%- if page.title -%}- {{ page.title | escape }}{%- endif -%}" >
    <meta name="keywords" content="cocktail, cocktail recipe, {{ page.keywords | join: ', ' | escape }}, {{ page.base_spirits | join: ', ' | escape }}, {{ page.style | join: ', ' | escape }}">
    <meta name="description" content="{{ page.excerpt | strip_html | replace: '"', "'" | truncatewords: 150 }}">
    <meta property="og:description" content="{{ page.excerpt | strip_html | replace: '"', "'" | truncatewords: 150 }}">

<!----    <link rel="stylesheet" media="screen" type="text/css" href="{{ site.baseurl }}/assets/normalize.css">
    <link rel="stylesheet" media="screen" type="text/css" href="{{ site.baseurl }}/assets/skeleton.css">
    <link rel="stylesheet" media="screen" type="text/css" href="{{ site.baseurl }}/assets/local.css">-->
    <link rel="stylesheet" media="screen" type="text/css" href="{{ site.baseurl }}/assets/css/normalize.css">
    <link rel="stylesheet" media="screen" type="text/css" href="{{ site.baseurl }}/assets/css/barebones.css">
    <link rel="stylesheet" media="screen" type="text/css" href="{{ site.baseurl }}/assets/css/skeleton-legacy.css">
    <link rel="stylesheet" media="screen" type="text/css" href="{{ site.baseurl }}/assets/css/local.css">
</head>
