  <head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="John & Peter Mahnke">

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-7VTRNZ0ZMF"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-7VTRNZ0ZMF');
  </script>

    <title>{%- if page.title -%}{{ page.title | escape }} Cocktail Recipe - {% endif %}{{ site.title | escape }}</title>
    <meta name="twitter:title" content="{%- if page.title -%}{{ page.title | escape }} Cocktail Recipe - {% endif %}{{ site.title | escape }}" >
    <meta property="og:title" content="{%- if page.title -%}{{ page.title | escape }} Cocktail Recipe - {% endif %}{{ site.title | escape }}" >
    <meta name="keywords" content="cocktail, cocktail recipe, {{ page.keywords | join: ', ' | escape }}, {{ page.base_spirits | join: ', ' | escape }}, {{ page.style | join: ', ' | escape }}">
    <meta name="description" content="{%- if page.description-%}{{ page.description | strip_html | replace: '"', "'" | truncatewords: 150 }}{%- else -%}Find hundreds of classic and modern cocktail recipes for free at The Barspoon. Browse by spirit or era, featuring drinks from Anders Erickson and Leandro DiMonriva.{%- endif -%}">
    <meta property="og:description" content="{%- if page.description-%}{{ page.description | strip_html | replace: '"', "'" | truncatewords: 150 }}{%- else -%}Find hundreds of classic and modern cocktail recipes for free at The Barspoon. Browse by spirit or era, featuring drinks from Anders Erickson and Leandro DiMonriva.{%- endif -%}">

    {% if page.url -%}
    {%- assign canonical_url = site.url | append: site.baseurl | append: page.url -%}
    <link rel="canonical" href="{{ canonical_url | replace:'index.html','' | replace:'index.md','' }}">
    {%- endif %}

    <link rel="stylesheet" media="screen" type="text/css" href="{{ site.baseurl }}/assets/css/style.css">
</head>
