{% assign rating = site.data.ratings[page.iconfile].ratings %}
{% assign sum = 0 %}
{% assign average = 0 %}
{% assign sz = rating | size %}
{% if sz > 0 %}
  {% for r in rating %}
    {% assign sum = sum | plus: r.rating %}
  {% endfor %}
{% assign sum = sum | times: 1.0 %}
{% assign average = sum | divided_by: sz %}
{% endif %}
{% assign whole = average | floor %}{% assign half = average | modulo: 1 %}{% assign counter = 0 %}{% for i in (0..4) %}{% if counter < whole %}<img src="assets/images/star_full.svg" class="home-star">{% elsif counter == whole and half == 0.5 %}<img src="assets/images/star_half.svg" class="home-star">{% else %}<img src="assets/images/star_empty.svg" class="home-star">{% endif %}{% assign counter = counter | plus: 1 %}{% endfor %}
