{%- if site.data[page.iconfile].images -%}
{%- for ingredient in site.data[page.iconfile].images.ingredient -%}
<p class="icons"><img src="{{ ingredient.url }}" alt="{{ ingredient.title }}" title="{{ ingredient.title }}" width="150"></p>
{%- endfor -%}
{%- for tools in site.data[page.iconfile].images.tool -%}
<p class="icons"><img src="{{ tools.url }}" alt="{{ tools.title }}" title="{{ tools.title }}" width="150"></p>
{%- endfor -%}
{%- for glass in site.data[page.iconfile].images.glass -%}
<p class="icons"><img src="{{ glass.url }}" alt="{{ glass.title }}" width="150"></p>
{%- endfor -%}
{%- for ice in site.data[page.iconfile].images.ice -%}
<p class="icons"><img src="{{ ice.url }}" alt="{{ ice.title }}" width="150"></p>
{%- endfor -%}
{%- for garnish in site.data[page.iconfile].images.garnish -%}
<p class="icons"><img src="{{ garnish.url }}" alt="{{ garnish.title }}" width="150"></p>
{%- endfor -%}
{%- endif -%}