 <div class="recipe_card">
    <div class="card-content">

        <strong>{{ page.title }}</strong><br/>
        {%- include home_stars.html -%}<br/> 
        {%- if page.eras %}{% for era in page.eras %}{% assign e = site.data.eras | where: "slug", era | first %}<a href="/era/{{e.slug}}">{{ e.name }}</a>{% endfor %}{% endif %}{% if page.categories %}{% if page.eras %} | {% endif%} {% for p in page.categories %}{% assign c = site.data.categories | where: "slug", p | first %}<a href="/category/{{c.slug}}_cocktails">{{ c.name }}</a>{% if forloop.last %}{% else %}, {% endif %}{% endfor %}{% endif %}<br/>
        <em>{{ page.base_spirits }}</em>
    </div>
    <div class="card-image">

    {%- if site.data[page.iconfile].images -%}
        {%- if site.data[page.iconfile].images.cocktail -%}
            {%- for image in site.data[page.iconfile].images.cocktail -%}
        <img src="{{ image.url }}" alt="{{ image.title }}" width="85" >
            {%- endfor -%}
        {%- else -%}
            {%- for ingredient in site.data[page.iconfile].images.ingredient | limit: 1 -%}
        <img src="{{ ingredient.url }}" alt="{{ ingredient.title }}" title="{{ ingredient.title }}" width="100" class="rotate-left">
            {%- endfor -%}
        {%- endif -%}
    {%- endif -%}

    </div>
</div>