a:link, a:visited, a:active
{
	color:#009;
    text-decoration: none;
}
	a:hover
{
	color:#F30;
    text-decoration: underline;
}

.header {
    text-align: center;
    }
span.checked {
    color:#fcc200;
}