---
layout: default
---

<div class="grid-container two-thirds">
    <div><!-- div 2/3 -->

        {%- assign s = site.data.categories | where: "slug", page.categories | first -%}
        <h2>{{ s.name }}</h2>
        <p>{{ s.description }}</p>
        
        <table class="home_table">
        {%- for page in site.pages -%}
        {%- if page.categories contains s.slug and page.layout == 'recipe' -%}
            <tr>
                <th class="home_title">
                    <a href="{{ page.url | prepend: site.baseurl }}">
                    {{ page.title }}
                    </a>
                </th>
                <td class="home_spirits">
                    {%- include category_search.html -%}
                </td>
                <td class="home_stars">
                    {%- if s.slug != 'syrup' -%}{%- include stars.html -%}{%- endif -%}
                </td>
            </tr>
        {%- endif -%}
        {%- endfor -%}
        </table>
    </div><!-- /div 2/3-->
    <div><!-- div 1/3 -->
        {%- if s.url -%}<img src="{{ s.url }}" alt="{{ s.name }}" class="category_icon_large">{%- endif -%}
    </div><!-- /div 1/3 -->
</div><!-- /div grid-container -->


