---
layout: default
---

<div class="row">
    <div class="two-thirds column">

    {% if page.youtube %}
    <div id="youtube-menu">
        <img id="youtube-logo" src="{{ site.baseurl }}/assets/youtube-logo.png">
        {% if page.youtube %}
        <a href="{{ page.youtube }}" target="_blank"><button id="youtube-web">Website</button></a>
        {% endif %}
        {% if page.youtube_embed %}
        <button id="youtube-button" onclick="toggleDiv()">Embedded</button>
        {% endif %}
    </div>
    {% endif %}

    <div id="search">
    <form action="{{ site.baseurl }}/search.cgi" method="get">
        <input name="a" value="search" type="hidden">
        <p><input id="search2" name="q" value="" size="40"> <input value="Search" type="submit"></p>
    </form>
    </div>


    <h2>{{ page.title }}</h2>

    {% if page.excerpt %}
    <div id="excerpt">
        <p>{{ page.excerpt }}</p>
    </div>
    {% endif %}


    {{ content }}


    <div class="buttoncontainer">
        <a href="javascript:window.history.back()" class="button">Back</a>
    </div>

    {% if page.youtube_embed %}
    <div id="youtube" style="display: none;">
        <object
            data="{{ page.youtube_embed }}"
            type="text/html"
            width="1120"
            height="630"
        >
    </div>
    {% endif %}

    </div><!-- /div 2/3 -->
</div><!-- /div row -->

