---
layout: default
---
<div class="double_line"> </div>

<div class="row">
    <div class="one-half column">
        {% if page.youtube %}
        <div id="youtube-menu">
            {% if page.youtube %}
              {% if page.youtube contains "https" %}
            <a href="{{ page.youtube }}" target="_blank"><button id="youtube-web">Source Video</button></a>
              {% else %}
            <a href="https://www.youtube.com/watch?v={{ page.youtube }}" target="_blank"><button id="youtube-web">Source Video</button></a>
              {% endif %}
            {% endif %}
            {% if page.youtube_embed %}
            <button id="youtube-button" onclick="toggleDiv()">Embedded</button>
            {% endif %}
        </div>
        {% endif %}
    </div><!-- /div 1/2 -->

    <div class="one-half column" id="search">
        {% include search.html %}
    </div><!-- /div 1/2 -->
</div><!-- /div row -->

<div class="row">
    <div class="two-thirds column">
        <h2>{{ page.title }} </h2>
    </div><!-- /div 2/3 -->
    <div class="one-third column stars">
        {% include stars.html %}
    </div><!-- /div 1/3-->    
</div><!-- /div row -->

<div class="row">
    <div class="two-thirds column">
      <p>{% include recipe_taxonomy.html %}</p>
    {% if page.excerpt %}
        <div id="excerpt">
            <p>{{ page.excerpt }}</p>
            <p>{% for s in page.style %}{{ s }}, {% endfor %}</p>
        </div>
    {% endif %}

    {{ content }}
   
    </div><!-- /div 2/3 -->
   
    <div class="one-third column">

        {% for ingredient in site.data[page.iconfile].images.ingredient %}
        <p class="icons"><img src="{{ ingredient.url }}" alt="{{ ingredient.title }}" title="{{ ingredient.title }}" width="150"></p>
        {% endfor %}
        {% for tools in site.data[page.iconfile].images.tool %}
        <p class="icons"><img src="{{ tools.url }}" alt="{{ tools.title }}" title="{{ tools.title }}" width="150"></p>
        {% endfor %}
        {% for glass in site.data[page.iconfile].images.glass %}
        <p class="icons"><img src="{{ glass.url }}" alt="{{ glass.title }}" width="150"></p>
        {% endfor %}
        {% for ice in site.data[page.iconfile].images.ice %}
        <p class="icons"><img src="{{ ice.url }}" alt="{{ ice.title }}" width="150"></p>
        {% endfor %}
        {% for garnish in site.data[page.iconfile].images.garnish %}
        <p class="icons"><img src="{{ garnish.url }}" alt="{{ garnish.title }}" width="150"></p>
        {% endfor %}
    
    </div><!-- /div 1/3 -->

</div><!-- /div row -->

<div class=""row">
    <div class="twelve.columns" style="padding:10px 0;">
        <a href="javascript:window.history.back()" class="button">Back</a>

        {% if page.youtube_embed %}
        <div id="youtube" style="display: none;">
            <object
                data="{{ page.youtube }}"
                type="text/html"
                width="1120"
                height="630"
            >
        </div>
        {% endif %}

    </div>
</div>
